@media screen and (max-width:320px){
  .middleBody__container__songs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .middleBody__container__songs {
    margin-left: 10px;
}    
}



.middleBody__container__songs {
    margin-left: 20px;
}