@media screen and (max-width: 320px) {
  .sidebar__container {
    display: flex;
    background: #000;
    color: grey;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    z-index: 99;
    position: fixed;
    }

    .sidebar__container__menu {
      transition: all 0.5s;     
    }

    .sidebar__container__image {
      display: flex;
      width: 50px;
      height: 50px;
      margin: 5px;
  }

  .sidebar__container__logo {
    box-sizing: border-box;
  }

  .sidebar__container__menu__options__icon {
    padding-right: 5px;
    font-size: x-large;
    padding-top: 17px;
  }

  .sidebar__container__menu__options {
    text-decoration: none;
    color: grey;
    height: 70px;
    cursor: pointer;
    transition: 300ms color ease-in;
  }

  .sidebar__container__menu__options__two {
    padding: 5px;
    color: grey;
    height: 30px;
    cursor: pointer;
    transition: 300ms color ease-in;
  }
  .sidebar__container__menu__options:hover,
  .sidebar__container__menu__options__two:hover {
    color: #fff;
  }

  .sidebar__container__menu__subtitle {
    display: flex;
    margin: 10px 0 0 20px;
    padding: 10px;
  }
}

@media screen and (max-width: 820px) {

  .sidebar__container {
    display: flex;
    background: #000;
    color: grey;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    }

    .sidebar__container__menu {
      transition: all 0.5s;     
    }

    .sidebar__container__image {
      display: flex;
      width: 50px;
      height: 50px;
      margin: 5px;
  }

  .sidebar__container__logo {
    box-sizing: border-box;
  }

  .sidebar__container__menu__options__icon {
    padding-right: 5px;
    font-size: x-large;
    padding-top: 17px;
  }

  .sidebar__container__menu__options {
    text-decoration: none;
    color: grey;
    height: 70px;
    cursor: pointer;
    transition: 300ms color ease-in;
  }

  .sidebar__container__menu__options__two {
    padding: 5px;
    color: grey;
    height: 30px;
    cursor: pointer;
    transition: 300ms color ease-in;
  }
  .sidebar__container__menu__options:hover,
  .sidebar__container__menu__options__two:hover {
    color: #fff;
  }

  .sidebar__container__menu__subtitle {
    display: flex;
    margin: 10px 0 0 20px;
    padding: 10px;
  }

}



.sidebar__container__image {
  cursor: pointer;
}

.sidebar__container {
  display: flex;
  background: #000;
  color: grey;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  }

  .sidebar__container__menu {
    transition: all 0.5s;     
  }

  .sidebar__container__image {
    display: flex;
    width: 50px;
    height: 50px;
    margin: 5px;
}

.sidebar__container__logo {
  box-sizing: border-box;
}

.sidebar__container__menu__options__icon {
  padding-right: 5px;
  font-size: x-large;
  padding-top: 17px;
  margin-left: 20px;
}

.sidebar__container__menu__options {
  text-decoration: none;
  color: grey;
  height: 70px;
  cursor: pointer;
  transition: 300ms color ease-in;

}

.sidebar__container__menu__options__two {
  padding: 5px;
  color: grey;
  height: 30px;
  cursor: pointer;
  transition: 300ms color ease-in;
}
.sidebar__container__menu__options:hover,
.sidebar__container__menu__options__two:hover {
  color: #fff;
}

.sidebar__container__menu__subtitle {
  display: flex;
  margin: 10px 0 0 20px;
  padding: 10px;
}