.songRow__container {
  display: flex;
  align-items: center;
  padding-top: 20px;
  margin-left: 12px;
  /* margin-right: 10px; */
  justify-content: space-between;
  width: 100%;
}

.songRow__container:hover {
  cursor: pointer;
  background-color: #000;
  opacity: 0.8;
  color: #fff;
}

.songRow__container__songInfo {
  display: flex;
  align-items: center;
  flex-flow: column;
  margin-left: 10px;
}

.songRow__container__pictureContainer {
  margin-left: 50px;
}

.songRow__container__picture {
  width: 80px;
  height: 80px;
}

.songRow__container__addSong {
  margin-right: 15px;    
  }

@media screen and (min-width: 500px) {
  .songRow__container {
    display: flex;
    justify-content: space-between;
    padding-right: 80px;
    margin-left: 10px;

  }
 
  .songRow__container__songInfo {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-right: 280px; 
  }

  .songRow__container__addSong {
    margin-right: 45px;    
    }
}


@media screen and (min-width: 700px) {
  .songRow__container {
    display: flex;
    justify-content: space-between;
    padding-right: 80px;
    margin-left: 10px;

  }

  .songRow__container__songInfo {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-right: 280px; 
  }

  .songRow__container__addSong {
    margin-right: 45px;    
    }
}
