.sidebarButton {
    text-decoration: none;
    color: grey;
    height: 70px;
    cursor: pointer;
    transition: 300ms color ease-in;
    font-size: x-large;
    background: none;
    border: none;
  }

  .sidebarButton.highlight {
    opacity: 1;
    color: #fff;
  }