.addFavoritecontainer__button {
    font-size: x-large;
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;
  }
  
  .addFavoritecontainer__button:hover {
    transform: scale(1.2);
  }