@media screen and (max-width: 320px){
    .headerBody__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    

}

.headerBody__container {
    display: flex;
    align-items: flex-end;
    padding: 10px;
}

.headerBody__container__img {
    width: 25vw;
    margin: 0 20px;
    box-shadow: 0 4px 6px #000;
}