    .headerBody__container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .headerBody__container__figure {
        margin-left: 80px;
        margin-bottom: 40px;
    }

    .headerBody__container__img {
        width: 120px;
        height: 120px;
        }

    .headerBody__container__playlistInfo {
        margin-left: 10px;
        margin-top: 15px;
    }

    @media only screen and (min-width: 768px) {
        .headerBody__container {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        
        .headerBody__container__img {
            width: 160px;
            height: 160px;
            }
    
        .headerBody__container__playlistInfo {
            margin-left: 10px;
            margin-top: 15px;
        }

    }