@media screen and (max-width: 320px){
    .body__container {
        width: 100%;
        background: linear-gradient(#34003473, #000);
        color: #fff;
        height: 100vh;
        padding: 10px;
        overflow-y: overlay;
    }
    }    


.body__container {
    /* display: flex; */
    width: 100%;
    background: linear-gradient(#34003473, #000);
    color: #fff;
    height: 100vh;
    padding: 10px;
    overflow-y: overlay;
}


/*Main  Body container*/
